<p id="notice"><%= notice %></p>

<h1>Listing Chef Att Debs</h1>

<table>
  <thead>
    <tr>
      <th>Room category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @chef_att_debs.each do |chef_att_deb| %>
      <tr>
        <td><%= chef_att_deb.room_category %></td>
        <td><%= link_to 'Show', chef_att_deb %></td>
        <td><%= link_to 'Edit', edit_chef_att_deb_path(chef_att_deb) %></td>
        <td><%= link_to 'Destroy', chef_att_deb, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Chef att deb', new_chef_att_deb_path %>
