<%= form_for(@chef_att_source) do |f| %>
  <% if @chef_att_source.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@chef_att_source.errors.count, "error") %> prohibited this chef_att_source from being saved:</h2>

      <ul>
      <% @chef_att_source.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :room_category_id %><br>
    <%= f.text_field :room_category_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
