<%= form_for(@room_category) do |f| %>
  <% if @room_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@room_category.errors.count, "error") %> prohibited this room_category from being saved:</h2>

      <ul>
      <% @room_category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, disabled: true %>
  </div>
  <div class="field">
    <%= f.label :hotel_id %><br>
    <%= f.text_field :hotel_id, disabled: true %>
  </div>

  <h2>Chef Resource</h2>
  <div class="chef_resource_fields">
  <div class="field">

  <%= f.fields_for :chef_att_repositories do |chef_att_repository| %>
   <%= chef_att_repository.label :name %><br>
   <%= chef_att_repository.text_field :name %>
   <%= chef_att_repository.check_box :_destroy %>
   <%= chef_att_repository.label :_destroy, 'remove' %>
  <% end %>

  <%= f.fields_for :chef_att_debs do |chef_att_deb| %>
   <%= chef_att_deb.label :name %><br>
   <%= chef_att_deb.text_field :name %>
   <%= chef_att_deb.check_box :_destroy %>
   <%= chef_att_deb.label :_destroy, 'remove' %>
  <% end %>

  <%= f.fields_for :chef_att_sources do |chef_att_source| %>
   <%= chef_att_source.label :name %><br>
   <%= chef_att_source.text_area :name %>
   <%= chef_att_source.check_box :_destroy %>
   <%= chef_att_source.label :_destroy, 'remove' %>
  <% end %>

  </div>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
